[user]
	name = Aman Majeed
	email = amanmajeed@gmail.com
[push]
	default = simple
[color]
	decorate = short
	ui = auto
[alias]
	hist log --oneline --graph --decorate --color
[core]
	quotepath = false
[credential]
	helper = cache --timeout=3000000
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
